<footer class="page-footer fixed-bottom" style="background-color: #000719;">
  <div class="footer-copyright text-center py-2 text-white m-1">
    Copyright © UPeU 2022. Todos los derechos son reservados — Implementado por: Frank Machaca - Cesar Fasanando alumnos de la
  <a class ="text-break" href="https://upeu.edu.pe" target="_BLANK">UPeU</a>

  <div class="footer-copyright text-center py-1 text-white flex-column-reverse " >
    <a class="navbar-brand " href="https://www.facebook.com/UPeUOficial/?_rdc=1&_rdr"><img width="40" height="40" src="https://cdn-icons-png.flaticon.com/512/3670/3670124.png" alt="..."></a>
    <a class="navbar-brand " href="https://www.instagram.com/upeuoficial/"><img width="40" height="40" src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png" alt="..."></a>
    <a class="navbar-brand " href="https://twitter.com/UPeUOficial"><img width="40" height="40" src="https://cdn-icons-png.flaticon.com/512/4096/4096132.png" alt="..."></a>
    <a class="navbar-brand " href="https://www.youtube.com/user/UPeruanaUnion"><img width="40" height="40" src="https://cdn-icons-png.flaticon.com/512/3938/3938037.png" alt="..."></a>
  </div>  </div>s
</footer>
