<h1><a class="navbar-brand " href=""><img width="30" height="30" src="https://cdn-icons-png.flaticon.com/512/462/462649.png" alt="..."></a>
Resumen de Talleres</h1>
<div class="card" *ngFor="let taller of talleres">

  <div class="card-body tarjeta ">
    <h3 class="card-title text-break text-xl-center text-uppercase">Taller: {{taller.tallTema}}</h3>
    <a (click)="openModalCiudadanos(taller)" style="background-color: #0F3971;" class="btn btn-primary card-link col-md-2">Asistencia <br> de los ciudadanos</a>
    <a (click)="openModalEstudiantes(taller)" style="background-color: #0F3971;" class="btn btn-primary card-link col-md-2">Asistencia <br> de los estudiantes</a>
    <a (click)="openModalEncuestas(taller)" style="background-color: #0F3971;" class="btn btn-primary card-link col-md-2">Reporte <br> de encuestas</a>
    <a (click)="openModalEncuestas(taller)" style="background-color: #0F3971;" class="btn btn-primary card-link col-md-2 ">Pedidos <br> de Oracion</a>
    <a (click)="openModalEncuestas(taller)" style="background-color: #0F3971;" class="btn btn-primary card-link col-md-2 ">Meditacion <br> del taller</a>

  </div>

</div>
<br>
